<!--Product Views-->
<div class="col-xs-12">
	<p class="text-center category-header" ng-class="catHeaderClass(tree)">{{currentCategory.Name}}</p>
</div>
<section>
	<productlistview />
</section>
<div class="links-nav">
	<ul class="nav">
    	<li>
        	<a class="green-link glt-font" href="#">
            	<i class="fa fa-arrow-circle-o-right"></i>
            	<span>FAQ</span>
            </a>
        </li>
    	<li>
        	<a class="orange-link glt-font" href="mailto:paperinfo@glatfelter.com">
            	<i class="fa fa-arrow-circle-o-right"></i>
            	<span>Email paperinfo@glatfelter.com</span>
            </a>
        </li>
    </ul>
</div>