<!--Category Views-->
<section>
	<img class="img-responsive img-center" src="http://logon.prograde.com/BDP/MiscImages/feather.jpg" style="width:100%;" />
</section>
<section>
	<categorylistview />
</section>
<div class="links-nav">
	<ul class="nav">
    	<li>
        	<a class="green-link glt-font" href="#">
            	<i class="fa fa-arrow-circle-o-right"></i>
            	<span>FAQ</span>
            </a>
        </li>
    	<li>
        	<a class="orange-link glt-font" href="mailto:paperinfo@glatfelter.com">
            	<i class="fa fa-arrow-circle-o-right"></i>
            	<span>Email paperinfo@glatfelter.com</span>
            </a>
        </li>
    </ul>
</div>