<div class="container logo-banner-container">
    <div class="row" style="height:125px;">
       	<div class="col-xs-12 col-sm-6">
		    <a href="catalog"><img class="img-responsive img-center pull-left bdplogo" ng-src="{{user.Company.LogoUrl}}" /></a>
        </div>
 	    <div class="col-xs-12 col-sm-6 vertical-center" style="height:100%;">
           	<div class="row">
           	    <div class="col-xs-12">
                   	<span class="budget-balance pull-right">Balance: ${{user.SpendingAccounts[0].Balance}}</span>
                </div>
            </div>
       	    <div class="row">
               	<div class="col-xs-12">
               	    <a href="http://rotaryformspress.com" target="_blank" class="rotary-forms-link pull-right">rotaryformspress.com <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
       	    <div class="row">
               	<div class="col-xs-12">
               	    <a href="https://form.jotform.com/50965505574967" target="_blank" class="pull-right requests-button">SPECIAL REQUESTS</a>
                </div>
            </div>
        </div>
    </div>
</div>